body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.navbar {
  position: relative;
  top: 0;
  width: 100%;
  background-color: #304459;
  padding-bottom: 10px;
  margin: 0;
}

.navbar-brand {
  color: white !important;
}

.nav-item a {
  color: white !important;
}
/*.navbar-brand {
  color: white;
}*/

