.counts {
  display: flex;
  flex-direction: row;
}

.toolboxes {
  /*margin-top: 5vh;*/
  margin-left: 5vw;
  margin-bottom: 5vh;
}

.drawers {
  /*margin-top: 5vh;*/
  margin-left: 5vw;
  margin-bottom: 5vh;
}

.containers {
  /*margin-top: 5vh;*/
  margin-left: 5vw;
  margin-bottom: 5vh;
}

.tools {
  /*margin-top: 5vh;*/
  margin-left: 5vw;
  margin-bottom: 5vh;
  width: 70vw;
}

.header {
  height: 8vh;
  width: 70vw;
  text-align: left;
  margin-top: 5vh;
  margin-left: 5vw;
  border: 1px solid lightgrey;
}

.entityList {
  position: absolute;
  margin: auto;
  right: 0;
  left: 0;
}

.headerTitle {
  padding-left: 3vw;
  margin-top: 2vh;
  font-size: 1.5em;
}

.createButton {
  height: 5vh;
  width: 8vw;
  float: right;
  position: relative;
  top: 1vh;
  right: 1vw;
  /*margin-top: 1vh;*/
}